#intro-container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    height: 80%;
    width: 80%;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    overflow: hidden;
    overflow-y: hidden;
}

#intro-title {
    margin-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Orbitron', sans-serif; 
    color: #ffffff;
}

.p-intro {
    color:rgb(224,224,224);
    margin: auto;
    font-size: 1.75rem;
    padding: 2rem;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Orbitron', sans-serif;
    color: rgb(255, 255, 255, 60%);
    text-align: left;
}

@media only screen and (max-width: 1370px) {
    #intro {
        
        &-container {
        overflow: visible;
        text-overflow: ellipsis;
        word-wrap: break-word;
        display: block;
        height: fit-content;
        margin-top: 4rem;
        }
        
        &-title {
            padding-bottom: 0.4rem;
            padding-left: 1.5rem;
        }
        
    }
}

@media only screen and (max-width: 650px) {
    .p-intro {
        font-size: 1.25rem;
        padding: 1.8rem;
    }
}

@media only screen and (max-width: 480px) {

    .p-intro {
        font-size: 1rem;
        padding: 1.5rem;
    }    
    
}

@media only screen and (max-width: 350px) {
    
    #intro-title {
        font-size: 1.4rem;
    }
    
    .p-intro {
        font-size: 0.8rem;
        padding: 1.5rem;
    }    
    
}