@use "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    color: #DaD5D3;
}

body {
    display: block;
    background-color: #0C0C0C;
}


.page-container {
    
    width: 100%;
    background-color: #0C0C0C;
    margin: auto;

    &-sub {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}



::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #4D4C4C; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #8f70ff; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #59479b; 
}

.carousel-indicators {
    margin-bottom: -1.75rem;
}

@media only screen and (min-width: 950px) {
    
    .page-container-sub {
        flex-direction: row;
    }
    
    .main-container {
        width: 100%;
    }
    
    .footer-container {
        display: none;
    }
    
    html {
        overflow-y: hidden;
        scroll-snap-type: y mandatory;
    }
}